.project-hero2 {
  position: relative;
  background-image: url(../images/team1.png);
  background-size: cover;
  background-position: center;
  height: 80vh;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.hero-overlay2 {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  background: linear-gradient(32deg, #479195 21%, #e8bb44 77%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.project-title2 {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 10px;
  animation: fadeInUp 1s ease-out;
  width: 50%;
  text-align: center;
}

.project-description2 {
  font-size: 1.1rem;
  max-width: 700px;
  margin: 0 auto;
  font-weight: bolder;
  margin-top: 30px;
  line-height: 27px;
  animation: fadeInUp 2s ease-out;
}

.project-type2 {
  font-size: 1.4rem;
  max-width: 700px;
  margin: 0 auto;
  font-weight: bolder;
  margin-top: 30px;
  line-height: 27px;
  animation: fadeInUp 2s ease-out;
  color: #479195;
  padding: 10px;
  border-radius: 20px;
  background-color: white;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* About Section */
.about2 {
  padding: 50px 20px;
  text-align: center;
  background-color: #fff;
}

.section-title2 {
  font-size: 2.5rem;
  margin-bottom: 30px;
  color: #479195;
}

.project-info2 {
  font-size: 1.2rem;
  margin-bottom: 30px;
  line-height: 1.8;
  color: #333;
  width: 50%;
  margin: 0 auto;
  margin-bottom: 100px;
}

.project-process2 {
  text-align: left;
  max-width: 800px;
  margin: 0 auto;
  font-size: 1rem;
  color: #444;
}

.project-process2 h3 {
  font-size: 2rem;
  margin-bottom: 15px;
  color: white;
  background-color: #e8bb44;
  width: 30%;
  border-radius: 50px;
  padding: 10px;
}

.project-process2 ol {
  list-style: none;
  padding-left: 0;
}

.project-process2 li {
  margin-bottom: 20px;
  font-size: 1.5rem;
  color: #333;
}

.project-process2 li strong {
  color: #479195;
}

.members2 {
  text-align: center;
  margin: 50px auto;
  padding: 20px;
  background-color: #ead18b;
  border-radius: 10px;
  max-width: 80%;

  h2 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 20px;
  }

  .member-list2 {
    display: flex;
    justify-content: center;
    gap: 60px;
    flex-wrap: wrap;
    margin-top: 40px;

    .member-item2 {
      text-align: center;
      width: 200px;
      height: auto;
      background-color: #479195;
      border-radius: 10px;
      padding: 15px;
      transition: transform 0.3s ease;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);

      &:hover {
        transform: scale(1.05);
      }

      .fancy-name2 {
        font-size: 1.5rem;
        font-weight: bold;
        color: #ffffff;
        text-transform: uppercase;
        letter-spacing: 1px;
        margin-bottom: 10px;
        position: relative;
        padding: 5px 0;
        display: inline-block;

        &:before {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 2px;
          background-color: #479195;
          transform: scaleX(0);
          transform-origin: bottom right;
          transition: transform 0.3s ease;
        }

        &:hover:before {
          transform: scaleX(1);
          transform-origin: bottom left;
        }
      }

      p {
        font-size: 1rem;
        color: #ffffff;
      }
    }
  }

  .group-photo2 {
    margin-top: 30px;
    text-align: center;

    h3 {
      font-size: 2rem;
      margin-bottom: 10px;
      color: #333;
    }

    .group-image2 {
      width: 80%;
      max-width: 600px;
      border-radius: 10px;
      margin-bottom: 10px;
    }

    .photo-description2 {
      font-size: 1rem;
      color: #555;
    }
  }
}

/* Gallery Section */

.final-draft2 {
  padding: 50px 20px;
  background-color: #fff;
  text-align: center;
}

.final-draft2 h2 {
  font-size: 2.5rem;
  margin-bottom: 30px;
  color: #479195;
}

.final-draft2 p {
  font-size: 1.2rem;
  color: #333;
  margin-bottom: 30px;
}

.poster-thumbnails2 {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.poster-item2 {
  width: 400px;
  height: 550px;
  overflow: hidden;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.poster-item2 img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 10px;
  transition: transform 0.3s ease;
}

.poster-item:hover img {
  transform: scale(1.05);
}

/* Modal Styles */
.modal2 {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8);
}

.modal-content2 {
  position: relative;
  margin: 15% auto;
  max-width: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slides img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
}
.english2 {
  background-image: url(../images/FD/team2EN.png);
  width: 500px;
  height: 700px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.korean2 {
  background-image: url(../images/FD/team2Kr.png);
  width: 500px;
  height: 700px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.prev2,
.next2 {
  position: absolute;
  top: 50%;
  padding: 16px;
  color: white;
  font-size: 18px;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.6);
  border: none;
  cursor: pointer;
  user-select: none;
  transition: background-color 0.3s ease;
}

.prev2:hover,
.next2:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.prev2 {
  left: 0;
}

.next2 {
  right: 0;
}

.close2 {
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 36px;
  color: #f1f1f1;
  font-weight: bold;
  cursor: pointer;
  transition: color 0.3s ease;
}

.close2:hover {
  color: #bbb;
}
/* Back Button */
.button-container2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; /* Stack buttons vertically */
  margin-top: 20px;
}

/* Back Button */
.back-button2 {
  background-color: #479195;
  border: none;
  padding: 15px 30px;
  border-radius: 50px;
  transition: background-color 0.3s ease, transform 0.3s ease;
  margin-bottom: 10px; /* Space between buttons */
}

.back-button2 a {
  color: white;
  text-decoration: none;
}

.back-button2:hover {
  background-color: #ff4c4c;
  transform: scale(1.1); /* Slight scale effect on hover */
}

/* See More Link */
.see-more2 {
  padding: 10px 20px;
  background-color: #479195;
  color: white;
  text-decoration: none;
  border-radius: 30px;
  transition: background-color 0.3s ease, transform 0.3s ease;
  margin-bottom: 20px;
}

.see-more2:hover {
  background-color: #ff4c4c;
  transform: scale(1.05); /* Slight scale effect */
}

.see-more2:focus {
  outline: none;
}
