$primary-color: #9d81a5;
$secondary-color: #c6d7d7; /* Dusty Blue */
$highlight-color: #d1dbbd;
$light-gray: #f9f9f9;
$dark-gray: #e9e0e0;
$button-hover-color: #9c80a1;
$background-color: #f9f9f9;
$border-color: #ccc;
$button-hover-color: #b6f2ae;
.projects-section {
  padding: 4rem 2rem;
  margin-bottom: 100px;

  .project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 2rem;

    .project-card {
      background: #af9ab3;
      border-radius: 10px;
      overflow: hidden;
      box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
      transition: transform 0.3s;

      &:hover {
        transform: scale(1.05);
      }

      .project-image {
        width: 100%;
        height: 200px;
        object-fit: cover;
      }

      .project-details {
        padding: 1rem;
        width: 400px;

        h3 {
          margin-bottom: 0.5rem;
          color: white;
        }

        p {
          color: $dark-gray;
        }
      }
    }
  }

  @media (max-width: 768px) {
    padding: 3rem 1rem;
    .project-grid {
      grid-template-columns: 1fr;
      gap: 1.5rem;
    }
  }
}
#project-details {
  display: none;
  padding: 2rem;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 10px 5px 15px 5px rgba(0, 0, 0, 0.5);

  .container {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;

    h2#project-title {
      font-size: 2rem;
      margin-bottom: 1.5rem;
      color: #333;
    }

    .project-details-content {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1.5rem;

      .project-image {
        width: 100%;
        max-width: 400px;
        height: auto;
        border-radius: 10px;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
      }

      p {
        margin: 0;
        font-size: 1rem;
        color: #555;

        &#project-members,
        &#project-type {
          font-weight: bold;
          color: #444;
        }
      }
    }

    #project-behance {
      margin-top: 1.5rem;

      button {
        background-color: #9c80a1;
        border: none;
        border-radius: 5px;
        padding: 0.75rem 1.5rem;
        cursor: pointer;
        transition: background-color 0.3s ease;

        &:hover {
          background-color: #c59ac9;
        }

        a {
          color: #fff;
          text-decoration: none;
          font-size: 1rem;
          font-weight: bold;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }

    button#go-back {
      margin-top: 2rem;
      background-color: #0077b6;
      color: #fff;
      border: none;
      border-radius: 5px;
      padding: 0.75rem 1.5rem;
      font-size: 1rem;
      cursor: pointer;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: #d62839;
      }
    }
  }
}
